<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The Home Page <%= 'hello world'.toUpperCase()%></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe debitis deserunt atque exercitationem perspiciatis necessitatibus magnam nemo. Laudantium recusandae similique totam? Vel corrupti ullam ducimus similique odit voluptatum? Soluta, culpa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repellat similique veritatis amet tempore dolore quos consectetur, officiis, hic odit optio placeat. Explicabo eaque in cupiditate nobis odit, nulla quis?</p>
</body>
</html>